<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'loginStyle.css' %}">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <!-- <form method="POST"> --> <!-- POST used due to sensitive data -->
        <div class="login-container">
            <h1> </h1> <!-- output the name of machine chosen -->
            <label><b>Username: </b></label>
            <br>
            <input type="text" placeholder = "Enter Username" name="uname" required>
            <br>
            <label><b>Password: </b></label>
            <br>
            <input type="Password" placeholder="Enter Password" name="psw" required>
            <h2></h2>
            <a href="{% url 'machineStatus' %}"><button type="Submit" id="enter">Login</button></a>
        </div>
    <!-- </form> -->
</body>
</html>