<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Machine Status</title>
    <link rel="stylesheet" type="text/css" href="{% static 'machineStatusStyle.css' %}">
    <script type="text/javascript" src="../JavaScript/connections.js"></script>
    <script type="text/javascript" src="../JavaScript/data.js"></script>

</head>
<body>
    <h1>Machine Status Page</h1>

    <!-- pop up box for ending current status -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>
                <b>Current session:
                </b><br><br>
                Machine -
                <br>
                Status -
                <br>
                Starting user -
                <br>
                starting time -
                <br><br>
                Would you like to end the current session?
                <br>
            </p>
            <button type="submit" id="yes">Yes</button>
            <button type="submit" id="no">No</button>
        </div>
    </div>
    <!-- end of pop-up -->

    <!-- main page -->
    <!-- status circle to change based on status -->
    <div class="statusCircle"></div>
       <br><br>
    <div class="infoContainer">
        <text>
            <b>
                Machine Name: <script>outputMachine()</script> <!-- output name of machine chosen -->
                <br>
                Serial No:
                <br>
                S/W Version:
            </b>
        </text>
    </div>

    <div class="infoContainer">
        <text>
            <b>
                Current Status: <script>output('machineStatus')</script>
                <br>
                Current Owner: <script>output('machineUser')</script>
            </b>
        </text>
        <br> <br>
    </div>

    <div style="overflow-x:auto;"> <!-- scroll bar turns up if screen is too small to show all data -->
        <table class = "handoverTable">
            <!-- Header values -->
            <thead>
                <tr>
                    <th>Start (Date/Time)</th>
                    <th>Starting user</th>
                    <th>End (Date/Time)</th>
                    <th>Ending user</th>
                    <th>Description</th>
                    <th>Clinical status</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <!-- table rows values: -->
            <tbody>
                <tr> <!-- too be filled with data from database. currently dummy values -->
                    <td>10/07/2021 07:30</td>
                    <td>Techie T</td>
                    <td>10/07/2021 13:30</td>
                    <td>Fred J</td>
                    <td>Treatment</td>
                    <td>Clinical with limitations</td>
                    <td>dummy values</td>
                </tr>
                <tr>
                    <td>10/07/2021 06:00</td>
                    <td>Rad R</td>
                    <td>10/07/2021 07:30</td>
                    <td>Techie T</td>
                    <td>run up & Daily QA</td>
                    <td>Clinically ready</td>
                    <td>Dummy values</td>
                </tr>
            </tbody>
        </table>
    </div>

    <br> <br>

    <div class="BTNContainer">
        <!-- buttons when clicked move to respective pages using javascript functions from connections.js -->
        <a href="{% url 'updateStatus' %}"><button type="Submit" id="add">Add New Status</button></a>
        <button type="Submit" id="end">End Previous status</button>
        <a href="{% url 'overview' %}"><button type="Submit" id="logout">Logout</button></a>
    </div>

</body>
<footer>
        <script type="text/javascript">
            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the button that opens the modal
            var btn = document.getElementById("end");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on the button, open the modal
            btn.onclick = function() {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            yes.onclick = function() {
                modal.style.display = "none";
            }

            no.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
</footer>
</html>