<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'overviewStyle.css' %}">
    <title>Machine Overview</title>
</head>

<body>
    <div class="titleContainer"> <!-- title and brief explanation of what to do -->
        <h1>Machine Overview <br></h1>
        <text>
            Click on a machine icon to log in and update status.
        </text>
    </div>

    <a href="{% url 'login' %}">
        <div class="machineContainer" id="formLA1"> <!-- overview of LA1 current status -->
            <h1>LA1</h1>
            <div class="imageContainer" onClick="login('LA1')">
                <br><br><br>
                <img src="{% static 'Images/Linac.jpg' %}" alt="Linac">
            </div>
            <br>
            <!-- color to be changed using if statement based on current status of machine -->
            <div class="circle" id="circleLA1"></div>
            <br>
            <text>
                Status: <script>output("machineStatus")</script>
                <br>
                Last reported: <script>output("machineTime")</script>
                <br>
                Reported by: <script>output("machineUser")</script>
            </text>
        </div>
    </a>

    <a href="{% url 'login' %}">
        <div class="machineContainer" id="formLA2"> <!-- overview of LA2 current status -->
            <h1>LA2</h1>
            <div class="imageContainer" onClick="login('LA2')">
                <br><br><br>
                <img src="{% static 'Images/Linac.jpg' %}" alt="Linac">
            </div>
            <br>
            <div class="circle" id="circleLA2"></div>
            <br>
            <text>
                Status: <script>output("machineStatus")</script>
                <br>
                Last reported: <script>output("machineTime")</script>
                <br>
                Reported by: <script>output("machineUser")</script>
            </text>
        </div>
    </a>

    <a href="{% url 'login' %}">
        <div class="machineContainer" id="formLA4"> <!-- overview of LA4 current status -->
            <h1>LA4</h1>
            <div class="imageContainer" onClick="login('LA4')">
                <br><br><br>
                <img src="{% static 'Images/Linac.jpg' %}" alt="Linac">
            </div>
            <br>
            <div class="circle" id="circleLA4"></div>
            <br>
            <text>
                Status: <script>output("machineStatus")</script>
                <br>
                Last reported: <script>output("machineTime")</script>
                <br>
                Reported by: <script>output("machineUser")</script>
            </text>
        </div>
    </a>

    <a href="{% url 'login' %}">
         <div class="machineContainer" id="formCT"> <!-- overview of CT current status -->
             <h1>CT</h1>
             <div class="imageContainer" onClick="login('CT')">
                 <br><br><br><br><br>
                 <img src="{% static 'Images/CT.jpg' %}" alt="CT">
             </div>
             <br>
             <div class="circle" id="circleCT"></div>
             <br>
             <text>
                Status: <script>output("machineStatus")</script>
                <br>
                Last reported: <script>output("machineTime")</script>
                <br>
                Reported by: <script>output("machineUser")</script>
            </text>
        </div>
    </a>

    <a href="{% url 'login' %}">
        <div class="machineContainer" id="formBrachy"> <!-- overview of Brachytherapy current status -->
            <h1>Brachytherapy</h1>
            <div class="imageContainer" onClick="login('Brachytherapy')">
                <br><br>
                <img src="{% static 'Images/Brachy.jpg' %}" alt="Brachy">
            </div>
            <br>
            <div class="circle" id="circleBrachy"></div>
            <br>
            <text>
                Status: <script>output("machineStatus")</script>
                <br>
                Last reported: <script>output("machineTime")</script>
                <br>
                Reported by: <script>output("machineTime")</script>
            </text>
        </div>
    </a>
</body>
</html>