<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'overviewStyle.css' %}">
    <script>
        circle_colour("fully serviceable", "circleLA1")
        circle_colour("fully serviceable", "circleLA2")
        circle_colour("Clinical with Limitations", "circleLA4")
        circle_colour("Unserviceable", "circleCT")
        circle_colour("On Service/PMI", "circleBrachy")
</script>
    <title>Machine Overview</title>
</head>

<body>
    <div class="titleContainer"> <!-- title and brief explanation of what to do -->
        <h1>Machine Overview <br></h1>
        <text>
            Click on a machine icon to log in and update status.
        </text>
    </div>

    <a href="{% url 'login' %}" onclick="return set_machine_choice('LA1');">
        <div class="machineContainer"> <!-- overview of LA1 current status -->
            <h1>LA1</h1>
            <div class="imageContainer">
                <br><br><br>
                <img src="{% static 'Images/Linac.jpg' %}" alt="Linac">
            </div>
            <br>
            <!-- color to be changed using if statement based on current status of machine -->
             {% if LA1_status == "Fully Serviceable" %}
             <div class="circle" style="background-color: green"></div>
             {% elif LA1_status == "Clinical With Limitations" %}
             <div class="circle" style="background-color: orange"></div>
             {% elif LA1_status == "On Service / PMI" %}
             <div class="circle" style="background-color: blue"></div>
             {% else %}
             <div class="circle" style="background-color: red"></div>
             {% endif %}
            <br>
            <text>
                Status: {{LA1_status}}
                <br>
                Last reported: {{LA1_time}}
                <br>
                Reported by: {{LA1_user}}
            </text>
        </div>
    </a>

     <a href="{% url 'login' %}" onclick="return set_machine_choice('LA2');">
        <div class="machineContainer" id="formLA2"> <!-- overview of LA2 current status -->
            <h1>LA2</h1>
            <div class="imageContainer" >
                <br><br><br>
                <img src="{% static 'Images/Linac.jpg' %}" alt="Linac">
            </div>
            <br>
             {% if LA2_status == "Fully Serviceable" %}
             <div class="circle" style="background-color: green"></div>
             {% elif LA2_status == "Clinical With Limitations" %}
             <div class="circle" style="background-color: orange"></div>
             {% elif LA2_status == "On Service / PMI" %}
             <div class="circle" style="background-color: blue"></div>
             {% else %}
             <div class="circle" style="background-color: red"></div>
             {% endif %}
            <br>
            <text>
                Status: {{LA2_status}}
                <br>
                Last reported: {{LA2_time}}
                <br>
                Reported by: {{LA2_user}}
            </text>
        </div>
    </a>

     <a href="{% url 'login' %}" onclick="return set_machine_choice('LA4');">
        <div class="machineContainer" id="formLA4"> <!-- overview of LA4 current status -->
            <h1>LA4</h1>
            <div class="imageContainer">
                <br><br><br>
                <img src="{% static 'Images/Linac.jpg' %}" alt="Linac">
            </div>
            <br>
             {% if LA4_status == "Fully Serviceable" %}
             <div class="circle" style="background-color: green"></div>
             {% elif LA4_status == "Clinical With Limitations" %}
             <div class="circle" style="background-color: orange"></div>
             {% elif LA4_status == "On Service / PMI" %}
             <div class="circle" style="background-color: blue"></div>
             {% else %}
             <div class="circle" style="background-color: red"></div>
             {% endif %}
            <br>
            <text>
                Status: {{LA4_status}}
                <br>
                Last reported: {{LA4_time}}
                <br>
                Reported by: {{LA4_user}}
            </text>
        </div>
    </a>

     <a href="{% url 'login' %}" onclick="return set_machine_choice('CT');">
         <div class="machineContainer" id="formCT"> <!-- overview of CT current status -->
             <h1>CT</h1>
             <div class="imageContainer">
                 <br><br><br><br><br>
                 <img src="{% static 'Images/CT.jpg' %}" alt="CT">
             </div>
             <br>
             {% if CT_status == "Fully Serviceable" %}
             <div class="circle" style="background-color: green"></div>
             {% elif CT_status == "Clinical With Limitations" %}
             <div class="circle" style="background-color: orange"></div>
             {% elif CT_status == "On Service / PMI" %}
             <div class="circle" style="background-color: blue"></div>
             {% else %}
             <div class="circle" style="background-color: red"></div>
             {% endif %}

             <br>
             <text>
                Status: {{CT_status}}
                <br>
                Last reported: {{CT_time}}
                <br>
                Reported by: {{CT_user}}
            </text>
        </div>
    </a>

     <a href="{% url 'login' %}" onclick="return set_machine_choice('Brachytherapy');">
        <div class="machineContainer" id="formBrachy"> <!-- overview of Brachytherapy current status -->
            <h1>Brachytherapy</h1>
            <div class="imageContainer">
                <br><br>
                <img src="{% static 'Images/Brachy.jpg' %}" alt="Brachy">
            </div>
            <br>
             {% if Brachy_status == "Fully Serviceable" %}
             <div class="circle" style="background-color: green"></div>
             {% elif Brachy_status == "Clinical With Limitations" %}
             <div class="circle" style="background-color: orange"></div>
             {% elif Brachy_status == "On Service / PMI" %}
             <div class="circle" style="background-color: blue"></div>
             {% else %}
             <div class="circle" style="background-color: red"></div>
             {% endif %}
            <br>
            <text>
                Status: {{Brachy_status}}
                <br>
                Last reported: {{Brachy_time}}
                <br>
                Reported by: {{Brachy_user}}
            </text>
        </div>
    </a>
</body>
<footer>
    <script type="text/javascript">


        function set_machine_choice(machineName) {
            sessionStorage.setItem("machineName", machineName);
        }

        function status(){
            var data = JSON.parse(""{{data|escapejs}}");
        }

        function circle_colour(status) {

            if (status == "fully serviceable"){
                return('background-color: green')
            } else if (status == "Clinical with Limitations") {
                return('background-color: orange')
            } else if (status == "On Service/PMI"){
                return('background-color: blue')
            } else {
                return('background-color: red')
            }
        }
    </script>
</footer>
</html>