<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../styles/loginStyle.css">

    <!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">
            -> maybe... -->
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="main.py" method="post">
        <div class="login-container">
            <h1>LA1</h1>
            <label><b>Username: </b></label>
            <br>
            <input type="text" placeholder = "Enter Username" name="uname" required>
            <br>
            <label><b>Password: </b></label>
            <br>
            <input type="Password" placeholder="Enter Password" name="psw" required>
            <h2></h2>
            <button type="Submit">Login</button>
        </div>
    </form>
</body>
</html>