<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../styles/overviewStyle.css">
    <title>Machine Overview</title>
</head>
<body>

    <div class="titleContainer">
        <h1>Machine Overview <br></h1>
        <text>
            Click on a machine icon to log in and update status.
        </text>
    </div>

    <div class="machineContainer" id="formLA1">
        <h1>LA1</h1>
        <div class="imageContainer"><br><br><br><img src="../images/Linac.jpg" alt="Linac"></div>
        <br>
        <div id="circleLA1"></div>
        <br>
        <text>Status:
            <br>
            Last reported:
            <br>
            Reported by:
        </text>
    </div>

    <div class="machineContainer" id="formLA2">
        <h1>LA2</h1>
        <div class="imageContainer"><br><br><br><img src="../images/Linac.jpg" alt="Linac"></div>
        <br>
        <div id="circleLA2"></div>
        <br>
        <text>Status:
            <br>
            Last reported:
            <br>
            Reported by:
        </text>
    </div>

    <div class="machineContainer" id="formLA4">
        <h1>LA4</h1>
        <div class="imageContainer"><br><br><br><img src="../images/Linac.jpg" alt="Linac"></div>
        <br>
        <div id="circleLA4"></div>
        <br>
        <text>Status:
            <br>
            Last reported:
            <br>
            Reported by:
        </text>
    </div>

     <div class="machineContainer" id="formCT">
         <h1>CT</h1>
         <div class="imageContainer"><br><br><br><br><br><img src="../images/CT.jpg" alt="CT"></div>
         <br>
         <div id="circleCT"></div>
         <br>
         <text>Status:
            <br>
            Last reported:
            <br>
            Reported by:
        </text>
    </div>

    <div class="machineContainer" id="formBrachy">
        <h1>Brachytherapy</h1>
        <div class="imageContainer"><br><br><img src="../images/brachy.jpg" alt="Brachy"></div>
        <br>
        <div id="circleBrachy"></div>
        <br>
        <text>Status:
            <br>
            Last reported:
            <br>
            Reported by:
        </text>
    </div>

    <script>
        document.getElementById("formLA1").onclick = function() {
            var machineName = "LA1";
            sessionStorage.setItem("machineName", machineName);
            location.href = "http://localhost:63342/MaStER-machine-overview-web-app2/templates/Login.html";
        }

        document.getElementById("formLA2").onclick = function() {
            var machineName = "LA2";
            sessionStorage.setItem("machineName", machineName);
            location.href = "http://localhost:63342/MaStER-machine-overview-web-app2/templates/Login.html";
        }

        document.getElementById("formLA4").onclick = function() {
            var machineName = "LA4";
            sessionStorage.setItem("machineName", machineName);
            location.href = "http://localhost:63342/MaStER-machine-overview-web-app2/templates/Login.html";
        }

        document.getElementById("formCT").onclick = function() {
            var machineName = "CT";
            sessionStorage.setItem("machineName", machineName);
            location.href = "http://localhost:63342/MaStER-machine-overview-web-app2/templates/Login.html";
        }

        document.getElementById("formBrachy").onclick = function() {
            var machineName = "Brachytherapy";
            sessionStorage.setItem("machineName", machineName);
            location.href = "http://localhost:63342/MaStER-machine-overview-web-app2/templates/Login.html";
        }
    </script>
</body>
</html>