<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Updating Status</title>
  <link rel="stylesheet" type="text/css" href="../styles/updateStatusStyle.css">

</head>
<body>

  <h1>Status reporting: LA1</h1>
  <br><br>
  <div class="containContainers">
    <div class="inputContainer">
      <text> <b> Reporting As: </b> </text>
      <br><br>
      <text>*Status:</text>
      <br>
      <select name="status" id="status">
        <option value="" selected="selected">Select status</option>
        <option value="" >Fully Serviceable (Clinical)</option>
        <option value="" >Clinical with some limitations</option>
        <option value="" >On Service/PMI</option>
        <option value="" >Unserviceable (not clinical)</option>
      </select>
      <br> <br>
      <text>*Description:</text>
      <br>
      <input type="text" placeholder="Enter Description" name="description" id="description" required> <!--text box to be swapped out to combo when django is added -->
      <br> <br>
      <text>Comments:</text>
      <textarea rows="5" id="multiLineInput"></textarea> <!-- multi-line textbox for comments -->
      <br><br><br><br>
      <button type="submit" id="submit">Submit</button>
      <br><br>
      <button type="submit" id="discard">Discard</button>
      <br>
    </div>

    <div class="keyContainer">
      <text> <b> Status Key: </b></text>
      <br> <br>
      <div id="circleClinical"></div>
      <text>Fully Serviceable (Clinical)</text>
      <br> <br> <br>
      <div id="circleLimitations"></div>
      <text>Clinical with some limitations</text>
      <br> <br><br>
      <div id="circleService"></div>
      <text>On Service / PMI</text>
      <br> <br> <br>
      <div id="circleUnserviceable"></div>
      <text>Unserviceable (not clinical - i.e. ongoing fault)</text>
    </div>
  </div>
  <script>
    document.getElementById("submit").onclick = function() {
            location.href = "http://localhost:63342/MaStER-machine-overview-web-app2/templates/MachineStatus.html";

            var status = document.getElementsById("status");
            sessionStorage.setItem("status", status);

            var description = document.getElementsById("description");
            sessionStorage.setItem("status", status);

            var comments = document.getElementsById("multiLineInput");
            sessionStorage.setItem("status", status);
    }

    document.getElementById("discard").onclick = function() {
            location.href = "http://localhost:63342/MaStER-machine-overview-web-app2/templates/UpdateStatus.html";
    }
  </script>
</body>
</html>