<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'loginStyle.css' %}">
    <meta charset="UTF-8">
    <title>Login</title>
    <script type="text/javascript" src="../JavaScript/connections.js"></script>
</head>
<body>
    <form method="POST"> <!-- POST used due to sensitive data -->
        <div class="login-container">
            <h1> <script>outputMachine()</script> </h1> <!-- output the name of machine chosen -->
            <label><b>Username: </b></label>
            <br>
            <input type="text" placeholder = "Enter Username" name="uname" required>
            <br>
            <label><b>Password: </b></label>
            <br>
            <input type="Password" placeholder="Enter Password" name="psw" required>
            <h2></h2>
            <button type="Submit" id="enter" onClick="machineStatus()">Login</button>
        </div>
    </form>
</body>
</html>