/* Login page style sheet */

body {
    margin: auto;
    background-color: #00004d;
}

.login-container {
    margin: 0;
    width: 25%;
    text-align: center;
    align-items: absolute;
    align: center;
    vertical-align: center;
    position: center;
    transform: translate(95%, 50%);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 25px;
    background-position: center;
    color: black;
}

button[type=submit] {
    align: center;
    padding: 5px 15px;
    background: #00004d;
    border: 1px solid rgb(0,0,0);
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius:5px;
    font-size: 13px;
    color: white;
}

button[type=submit]:hover {
    background-color:rgb(72,73,75);
}

input{
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius:4px;
    box-sizing: border-box;
    resize: vertical;
}
