body {
    margin:auto;
    background-color: #00004d;
    color: white;
}

.infoContainer {
    /*border-style: none!important;*/
    transform: translate(5%,0%);
    width:45%;
    height: 100px;
    vertical-align:center;
    display:inline-block;
    padding: 20px;
    text-align: center;

}

h1{
    text-align: center;
    font-size: 50px;
}

text{
    font-size: 20px;
}

.statusCircle {
    transform: translate(-5%,0%);
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background: green;
    border-radius: 50%;
}
.handoverTable {
    width: 90%;
    Height: 70%;
    border-collapse: collapse;
    margin:auto;
    min-width: 500px;
    font-size: 20px;
}

.handoverTable thead tr { /* tr = table row*/
    background-color: rgb(75,75,75);
    color:white;
    text-align:center;
    height: 50px;
}

.handoverTable th, /* td = table header*/
.table td { /* td = table data*/
    padding: 12px 15px;
}

.handoverTable tbody tr {
    border-bottom: 1px solid #a9a9a9;
    background-color: rgb(255,255,255);
    color: black;
    text-align: center;
    height: 35px;
    column-rule: 4px double #ff00ff;
}

.handoverTable tbody tr:hover {
    background-color: #f5f5f5;
}

.HandoverTable tbody:first-child() {
    background-color: #a6a6a6;
    color; black
}

.BTNContainer {
transform: translate(46%,0%);
    width: 50%;
    height: 100px;
    vertical-align:center;
    display:inline-block;
    padding: 20px;
    text-align: center;
}

button[type=submit] {
    align: center;
    position:relative;
    padding: 15px 15px;
    background: white;
    border: 1px solid rgb(0,0,0);
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius:5px;
    font-size: 13px;
    color: black;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    display:inline-block;
}

button[type=submit]:hover {
    background-color:#a6a6a6;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-colour: rgba(0,0,0,0.4);
}

.model-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}